name: Flutter CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: [ self-hosted, Linux ]
    
    steps:
    - uses: actions/checkout@v4

    - name: Allow Flutter SDK directory for Git
      run: |
        export HOME=/home/runneruser
        git config --global --add safe.directory "$FLUTTER_ROOT"
    
    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.38.5'
        channel: 'stable'
        architecture: x64
    
    - name: Get dependencies
      run: flutter pub get
    
    - name: Verify formatting
      run: dart format --set-exit-if-changed .
    
    - name: Analyze project source
      run: flutter analyze
    
    - name: Run tests
      run: flutter test
    
    - name: Build APK
      run: flutter build apk --release
      
    - name: Build iOS (if applicable)
      run: flutter build ios --release --no-codesign
      if: runner.os == 'macOS'
